{% extends 'KrevindiouBagheeraBundle::base.html.twig' %}

{% block page_title 'member.profile.page_title'|trans %}

{% block breadcrumb %}
    <li class="active">{{ 'member.profile.page_title'|trans }}</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="span3">
        {{ include("KrevindiouBagheeraBundle:Member:profileMenu.html.twig") }}
    </div>
    <div class="span9">
        {{ form_start(profileForm, {action: path('member_profile'), attr: {novalidate: true, class: 'form-horizontal'}}) }}
            {{ form_row(profileForm.email) }}

            <div class="form-actions">
                {{ form_widget(profileForm.submit, {label: 'member.profile.submit_button'|trans}) }}
            </div>
        {{ form_end(profileForm) }}
    </div>
</div>
{% endblock %}
