{{ form_start(operationSearchForm, {action: path('operation_search_submit', {'accountId': account.accountId}), attr: {novalidate: true, class: 'form-horizontal'}}) }}
    {{ form_errors(operationSearchForm) }}

    {{ form_row(operationSearchForm.type) }}
    {{ form_row(operationSearchForm.thirdParty) }}
    {{ form_row(operationSearchForm.categories) }}
    {{ form_row(operationSearchForm.paymentMethods) }}

    {% apply spaceless %}
    <div class="control-group">
        {{ form_label(operationSearchForm.amount1, null, {label_attr: {class: 'control-label'}}) }}

        <div class="controls">
            {{ form_errors(operationSearchForm.amountComparator1) }}
            {{ form_widget(operationSearchForm.amountComparator1) }}&nbsp;
            {{ form_widget(operationSearchForm.amount1) }}
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            {{ form_errors(operationSearchForm.amountComparator2) }}
            {{ form_widget(operationSearchForm.amountComparator2) }}&nbsp;
            {{ form_widget(operationSearchForm.amount2) }}
        </div>
    </div>
    {% endapply %}

    {{ form_row(operationSearchForm.valueDateStart) }}
    {{ form_row(operationSearchForm.valueDateEnd) }}
    {{ form_row(operationSearchForm.notes) }}
    {{ form_row(operationSearchForm.reconciled) }}

    <div class="control-group">
        <div class="controls">
            {{ form_widget(operationSearchForm.search) }}
            {{ form_widget(operationSearchForm.clear) }}
        </div>
    </div>
{{ form_end(operationSearchForm) }}
