{% extends 'base.html.twig' %}

{% set account = accountForm.vars.value %}

{% block page_title account.accountId is null ? 'account.create_form_page_title'|trans : 'account.update_form_page_title'|trans %}

{% block breadcrumb %}
    <li class="active">{{ account.accountId is null ? 'account.create_form_page_title'|trans : 'account.update_form_page_title'|trans }}</li>
{% endblock %}

{% block content %}
{{ form_start(accountForm, {attr: {novalidate: true, class: 'form-horizontal'}}) }}
    {{ form_row(accountForm.bank) }}
    {{ form_row(accountForm.name) }}
    {{ form_row(accountForm.currency) }}

    {% if accountForm.initialBalance is defined %}
    {{ form_row(accountForm.initialBalance) }}
    {% endif %}

    {{ form_row(accountForm.overdraftFacility) }}

    <div class="form-actions">
        {{ form_widget(accountForm.submit) }}
        <a href="{{ path('account_list') }}" class="btn">{{ 'cancel_link'|trans }}</a>
    </div>
{{ form_end(accountForm) }}
{% endblock %}
