{% extends 'App::base.html.twig' %}

{% block page_title operation.operationId is null ? 'operation.create_form_page_title'|trans : 'operation.update_form_page_title'|trans %}

{% block breadcrumb %}
    <li><a href="{{ path('operation_list', {'accountId': account.accountId}) }}">{{ account.bank.name }} - {{ account.name }}</a> <i class="icon-chevron-right"></i></li>
    <li class="active">{{ operation.operationId is null ? 'operation.create_form_page_title'|trans : 'operation.update_form_page_title'|trans }}</li>
{% endblock %}

{% block content %}
{{ form_start(operationForm, {attr: {novalidate: true, class: 'form-horizontal'}}) }}
    {{ form_row(operationForm.type) }}
    {{ form_row(operationForm.thirdParty) }}
    {{ form_row(operationForm.amount) }}
    {{ form_row(operationForm.category) }}
    {{ form_row(operationForm.paymentMethod) }}
    {{ form_row(operationForm.transferAccount) }}
    {{ form_row(operationForm.valueDate) }}
    {{ form_row(operationForm.notes) }}
    {{ form_row(operationForm.reconciled) }}

    <div class="form-actions">
        {{ form_widget(operationForm.save) }}
        {% if operation.operationId is null %}
            {{ form_widget(operationForm.saveCreate) }}
        {% endif %}
        <a href="{{ path('operation_list', {'accountId': account.accountId}) }}" class="btn">{{ 'cancel_link'|trans }}</a>
    </div>

    {{ form_widget(operationForm._token) }}
</form>
{% endblock %}
