{% extends 'base.html.twig' %}

{% block page_title 'member.forgot_password.page_title'|trans %}

{% block breadcrumb %}
    <li class="active">{{ 'member.forgot_password.page_title'|trans }}</li>
{% endblock %}

{% block content %}
{{ form_start(forgotPasswordForm, {action: path('member_forgot_password'), attr: {novalidate: true, class: 'form-horizontal'}}) }}
    {{ form_row(forgotPasswordForm.email) }}

    <div class="form-actions">
        {{ form_widget(forgotPasswordForm.submit) }}
        <a href="{{ path('member_login') }}" class="btn">{{ 'cancel_link'|trans }}</a>
    </div>
{{ form_end(forgotPasswordForm) }}
{% endblock %}
