{% extends 'base.html.twig' %}

{% block page_title 'member.login.page_title'|trans %}

{% block content %}
{% spaceless %}
<div class="row">
    <div class="span6">
        <form action="{{ path('login_check') }}" novalidate="novalidate" method="post" class="form-horizontal">
            <div>
                {% if error %}
                <div class="alert alert-error">{{ error.message|trans([], 'validators') }}</div>
                {% endif %}

                <div class="control-group">
                    <label for="username" class="control-label">{{ 'member.email'|trans }}</label>

                    <div class="controls">
                        <input type="email" id="username" name="_username" value="{{ last_username }}"/>
                    </div>
                </div>
                <div class="control-group">
                    <label for="password" class="control-label">{{ 'member.password'|trans }}</label>

                    <div class="controls">
                        <input type="password" id="password" name="_password"/>
                        <span class="help-block"><a href="{{ path('member_forgot_password') }}">{{ 'member.forgot_password.link'|trans }}</a></span>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input type="hidden" name="_target_path" value="{{ path('account_home') }}" />
                    <input type="submit" name="login" class="btn btn-primary" value="{{ 'member.login.submit_button'|trans }}"/>
                </div>
            </div>
        </form>
    </div>
    <div class="span6">
        <a href="{{ path('member_register') }}" class="btn btn-primary btn-large">{{ 'member.register.link'|trans }}</a>
    </div>
</div>
{% endspaceless %}
{% endblock %}
