<!DOCTYPE html>
<html>
    <head>
        <title>Bagheera - {{ block('pageTitle') }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {% stylesheets filter='lessphp' output='css/main.css' '@KrevindiouBagheeraBundle/Resources/public/less/main.less' %}
            <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
        {% endstylesheets %}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            <div id="title"><a href="{{ path('account_summary') }}">Bagheera</a></div>

            {% if app.getUser() is not empty %}
            <nav>
                <ul>
                    <li><a href="{{ path('account_summary') }}">{% trans %}home_link{% endtrans %}</a></li>
                    <li><a href="{{ path('user_profile') }}">{% trans %}profile_link{% endtrans %}</a></li>
                    {# <li><a href="{{ path('share_list') }}">{% trans %}shares_link{% endtrans %}</a></li> #}
                    {# <li><a href="{{ path('report_ist') }}">{% trans %}reports_link{% endtrans %}</a></li> #}
                    {# {% if app.getUser().getIsAdmin() %} #}
                    {# <li><a href="{{ path('user_list') }}">{% trans %}admin_users_link{% endtrans %}</a></li> #}
                    {# <li><a href="{{ path('category_list') }}">{% trans %}admin_categories_link{% endtrans %}</a></li> #}
                    {# {% endif %} #}
                    <li class="logout"><a href="{{ path('logout') }}">{% trans %}user_logout_link{% endtrans %}</a></li>
                </ul>
            </nav>
            {% else %}
            <nav>
                <ul>
                    <li><a href="{{ path('user_register') }}">{% trans %}user_register_link{% endtrans %}</a></li>
                    <li><a href="{{ path('user_forgot_password') }}">{% trans %}user_forgot_password_link{% endtrans %}</a></li>
                </ul>
            </nav>
            {% endif %}
        </header>

        <section id="content">
            <h1>{% block pageTitle %}{% endblock %}</h1>

            {% if app.session.hasFlash('notice') %}
            <div class="notice">
            {{ app.session.flash('notice') }}
            </div>
            {% endif %}

            {% block content %}{% endblock %}
            <div class="clear"></div>
        </section>

        <footer>
            <p id="copyright">Bagheera © 2011-{{ "now" | date("Y") }}</p>
        </footer>

        {% block javascripts %}{% endblock %}
    </body>
</html>
