<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <title>Bagheera - {{ block('pageTitle') }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {% stylesheets filter='lessphp,cssrewrite'
            'bundles/krevindioubagheera/less/main.less'
            'bundles/krevindioubagheera/css/smoothness/jquery-ui-1.8.17.custom.css'
        %}
            <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
        {% endstylesheets %}
        {% block stylesheets %}{% endblock %}
        <script src="{{ asset('/bundles/krevindioubagheera/js/head.min.js') }}"></script>
        <!--[if lte IE 8]><script src="{{ asset('/bundles/krevindioubagheera/js/flot/excanvas.min.js') }}"></script><![endif]-->
        <script>
        head.js(
            {% javascripts
                'bundles/krevindioubagheera/js/jquery-1.8.2.min.js'
                'bundles/krevindioubagheera/js/jquery-ui-1.8.17.custom.min.js'
                'bundles/krevindioubagheera/js/jquery.mailcheck.min.js'
                'bundles/krevindioubagheera/js/bootstrap/bootstrap-tooltip.js'
                'bundles/krevindioubagheera/js/bootstrap/bootstrap-modal.js'
                'bundles/krevindioubagheera/js/bootstrap/bootstrap-typeahead.js'
                'bundles/krevindioubagheera/js/main.js'
            %}
            "{{ asset_url }}",
            {% endjavascripts %}
            "/translations.js",
            function () {
                Bagheera.baseUrl = "/";
                Bagheera.init();
            }
        );
        </script>
    </head>
    <body>
        <header>
            {% set user = app.getUser() %}

            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        <a href="{{ path('account_list') }}" class="brand">Bagheera</a>

                        <ul class="nav">
                        {% if user is not empty %}
                            <li><a href="{{ path('account_list') }}"><i class="icon-home"></i> {{ 'home_link'|trans }}</a></li>
                            <li><a href="{{ path('report_list') }}"><i class="icon-signal"></i> {{ 'reports_link'|trans }}</a></li>
                            <li><a href="{{ path('user_profile') }}"><i class="icon-user"></i> {{ 'profile_link'|trans }}</a></li>
                            {# <li><a href="{{ path('share_list') }}"><i class="icon-share-alt"></i> {{ 'shares_link'|trans }}</a></li> #}
                            {# {% if user.getIsAdmin() %} #}
                            {# <li><a href="{{ path('user_list') }}"><i class="icon-user"></i> {{ 'admin_users_link'|trans }}</a></li> #}
                            {# <li><a href="{{ path('category_list') }}">{{ 'admin_categories_link'|trans }}</a></li> #}
                            {# {% endif %} #}
                            <li><a href="{{ path('logout') }}"><i class="icon-off"></i> {{ 'user_logout_link'|trans }}</a></li>
                        {% else %}
                            <li><a href="{{ path('user_register') }}">{{ 'user_register_link'|trans }}</a></li>
                            <li><a href="{{ path('user_forgot_password') }}">{{ 'user_forgot_password_link'|trans }}</a></li>
                        {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>

            <h1>
                <div class="container">{% block pageTitle %}{% endblock %}</div>
            </h1>
        </header>

        {% if user is not empty %}
            {% render "KrevindiouBagheeraBundle:Account:box" with { 'accountId': app.request.attributes.get('accountId') } %}
        {% endif %}

        <section id="content" class="container">
            {% for key, messages in app.session.flashbag.all() %}
                <div class="alert alert-{{ key }}">
                {% for message in messages %}
                    {{ message|trans }}
                {% endfor %}
                </div>
            {% endfor %}

            {% block content %}{% endblock %}
        </section>

        <footer>
            <div class="container">Bagheera © 2011-{{ 'now'|date('Y') }}</div>
        </footer>

        <div id="modal-confirmation" class="modal hide fade">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>{{ 'modal_confirmation_title'|trans }}</h3>
            </div>
            <div class="modal-body">
                <p>{{ 'modal_confirmation_body'|trans }}</p>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{{ 'modal_confirmation_action_cancel'|trans }}</button>
                <button class="btn btn-primary">{{ 'modal_confirmation_action_ok'|trans }}</button>
            </div>
        </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>
