<!DOCTYPE html>
<html>
    <head>
        <title>Bagheera - {{ block('pageTitle') }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {% stylesheets filter='lessphp' output='css/main.css' '@KrevindiouBagheeraBundle/Resources/less/main.less' %}
            <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
        {% endstylesheets %}
        {% block stylesheets %}{% endblock %}
        <link href="{{ asset('/bundles/krevindioubagheera/css/smoothness/jquery-ui-1.8.17.custom.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('/bundles/krevindioubagheera/css/jquery.jqplot.min.css') }}" rel="stylesheet" type="text/css" />
        <script src="{{ asset('/bundles/krevindioubagheera/js/head.load.min.js') }}"></script>
        <script>
        head.js(
            "{{ asset('/bundles/krevindioubagheera/js/jquery-1.7.1.min.js') }}",
            "{{ asset('/bundles/krevindioubagheera/js/jquery-ui-1.8.17.custom.min.js') }}",
            "{{ asset('/bundles/krevindioubagheera/js/Bagheera.js') }}",
            "{{ asset('/translations.js') }}",
            function () {
                Bagheera.baseUrl = "/";
                Bagheera.init();
            }
        );
        </script>
    </head>
    <body>
        <header>
            <div id="title"><a href="{{ path('account_list') }}">Bagheera</a></div>

            {% set user = app.getUser() %}

            {% if user is not empty %}
            <nav>
                <ul>
                    <li><a href="{{ path('account_list') }}">{{ 'home_link'|trans }}</a></li>
                    <li><a href="{{ path('report_list') }}">{{ 'report_link'|trans }}</a></li>
                    <li><a href="{{ path('user_profile') }}">{{ 'profile_link'|trans }}</a></li>
                    {# <li><a href="{{ path('share_list') }}">{{ 'shares_link'|trans }}</a></li> #}
                    {# <li><a href="{{ path('report_ist') }}">{{ 'reports_link'|trans }}</a></li> #}
                    {# {% if user.getIsAdmin() %} #}
                    {# <li><a href="{{ path('user_list') }}">{{ 'admin_users_link'|trans }}</a></li> #}
                    {# <li><a href="{{ path('category_list') }}">{{ 'admin_categories_link'|trans }}</a></li> #}
                    {# {% endif %} #}
                    <li class="logout"><a href="{{ path('logout') }}">{{ 'user_logout_link'|trans }}</a></li>
                </ul>
            </nav>
            {% render "KrevindiouBagheeraBundle:Account:box" with { 'accountId': app.request.attributes.get('accountId') } %}
            {% else %}
            <nav>
                <ul>
                    <li><a href="{{ path('user_register') }}">{{ 'user_register_link'|trans }}</a></li>
                    <li><a href="{{ path('user_forgot_password') }}">{{ 'user_forgot_password_link'|trans }}</a></li>
                </ul>
            </nav>
            {% endif %}
        </header>

        <section id="content">
            <h1>{% block pageTitle %}{% endblock %}</h1>

            {% for key, message in app.session.getFlashes() %}
            <div class="notification_{{ key }}">
            {{ message|trans }}
            </div>
            {% endfor %}

            {% block content %}{% endblock %}
            <div class="clear"></div>
        </section>

        <footer>
            <p id="copyright">Bagheera © 2011-{{ "now" | date("Y") }}</p>
        </footer>

        {% block javascripts %}{% endblock %}
    </body>
</html>
