<form id="operation-search" {% if not display %}style="display: none;"{% endif %}action="{{ path('operation_search_form', {'accountId': account.accountId}) }}" novalidate="novalidate" method="post" class="form-horizontal" {{ form_enctype(operationSearchForm) }}>
    {{ form_errors(operationSearchForm) }}

    {{ form_row(operationSearchForm.type) }}
    {{ form_row(operationSearchForm.thirdParty) }}
    {{ form_row(operationSearchForm.categories) }}
    {{ form_row(operationSearchForm.paymentMethods) }}

    {% spaceless %}
    <div class="control-group">
        {{ form_label(operationSearchForm.amount_1, null, {label_attr: {class: 'control-label'}}) }}

        <div class="controls">
            {{ form_errors(operationSearchForm.amount_comparator_1) }}
            {{ form_widget(operationSearchForm.amount_comparator_1) }}&nbsp;
            {{ form_widget(operationSearchForm.amount_1) }}
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            {{ form_errors(operationSearchForm.amount_comparator_2) }}
            {{ form_widget(operationSearchForm.amount_comparator_2) }}&nbsp;
            {{ form_widget(operationSearchForm.amount_2) }}
        </div>
    </div>
    {% endspaceless %}

    {{ form_row(operationSearchForm.valueDateStart) }}
    {{ form_row(operationSearchForm.valueDateEnd) }}
    {{ form_row(operationSearchForm.notes) }}
    {{ form_row(operationSearchForm.isReconciled) }}
    {{ form_rest(operationSearchForm) }}

    <div class="control-group">
        <div class="controls">
            <input type="submit" name="search" class="btn btn-large btn-primary" value="{{ 'operation_search_form_submit_button'|trans }}"/>
            <input type="submit" name="clear" class="btn btn-large" value="{{ 'operation_search_form_clear_button'|trans }}"/>
        </div>
    </div>
</form>
