{% extends 'KrevindiouBagheeraBundle::base.html.twig' %}

{% block page_title reportForm.vars.value.reportId is null ? 'report_new_form_page_title'|trans : 'report_edit_form_page_title'|trans %}

{% block breadcrumb %}
    <li><a href="{{ path('report_list') }}">{{ 'report_list_page_title'|trans }}</a> <i class="icon-chevron-right"></i></li>
    <li class="active">{{ reportForm.vars.value.reportId is null ? 'report_new_form_page_title'|trans : 'report_edit_form_page_title'|trans }}</li>
{% endblock %}

{% block content %}
<form action="" novalidate="novalidate" method="post" class="form-horizontal" {{ form_enctype(reportForm) }}>
    {{ form_row(reportForm.title) }}
    {{ form_row(reportForm.homepage) }}

    {% if reportForm.valueDateStart is defined %}
        {{ form_row(reportForm.valueDateStart) }}
    {% endif %}
    {% if reportForm.valueDateEnd is defined %}
        {{ form_row(reportForm.valueDateEnd) }}
    {% endif %}
    {% if reportForm.thirdParties is defined %}
        {{ form_row(reportForm.thirdParties) }}
    {% endif %}
    {% if reportForm.accounts is defined %}
        {{ form_row(reportForm.accounts) }}
    {% endif %}
    {% if reportForm.reconciledOnly is defined %}
        {{ form_row(reportForm.reconciledOnly) }}
    {% endif %}
    {% if reportForm.periodGrouping is defined %}
        {{ form_row(reportForm.periodGrouping) }}
    {% endif %}
    {% if reportForm.dataGrouping is defined %}
        {{ form_row(reportForm.dataGrouping) }}
    {% endif %}
    {% if reportForm.significantResultsNumber is defined %}
        {{ form_row(reportForm.significantResultsNumber) }}
    {% endif %}
    {% if reportForm.monthExpenses is defined %}
        {{ form_row(reportForm.monthExpenses) }}
    {% endif %}
    {% if reportForm.monthIncomes is defined %}
        {{ form_row(reportForm.monthIncomes) }}
    {% endif %}
    {% if reportForm.estimateDurationValue is defined %}
        {{ form_row(reportForm.estimateDurationValue) }}
    {% endif %}
    {% if reportForm.estimateDurationUnit is defined %}
        {{ form_row(reportForm.estimateDurationUnit) }}
    {% endif %}

    {{ form_rest(reportForm) }}

    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="{{ 'report_form_submit_button'|trans }}"/>
        <a href="{{ path('report_list') }}" class="btn">{{ 'cancel_link'|trans }}</a>
    </div>
</form>
{% endblock %}
