$(document).ready(function(){
    {% for graph in graphs %}
    $.plot(
        $("#graph{{ graph.report.reportId }}"),
        [
            {% for serie in graph.series %}
            {
                label: "{{ serie.label|trans }}",
                color: "{{ serie.color }}",
                data: [
                    {% for timestamp, value in serie.points %}
                    [{{ timestamp }}, {{ value is null ? "null" : value }}]{% if loop.last != 1 %},{% endif %}

                    {% endfor %}
                ]
            }
            {% if loop.last != 1 %},{% endif %}
            {% endfor %}
        ],
        {
            series: {
                lines: { show: true },
                points: { show: true }
            },
            grid: { hoverable: true },
            xaxis: {
                mode: "time",
                timeformat: "%Y-%m"
            },
            yaxis:  {
                min: {{ graph.yaxisMin }},
                max: {{ graph.yaxisMax }}
            }
        }
    );

    var previousPoint = null;
    $("#graph{{ graph.report.reportId }}").on("plothover", function (event, pos, item) {
        if (item) {
            if (previousPoint != item.dataIndex) {
                previousPoint = item.dataIndex;

                $("#plot-tooltip").remove();

                var x = item.datapoint[0],
                    y = item.datapoint[1].toFixed(2);

                var d = new Date(x);

                $('<div id="plot-tooltip">' + y + " (" + d.getFullYear() + "-" + (d.getMonth() + 1) + ')</div>').css({
                    position: "absolute",
                    display: "none",
                    top: item.pageY - 30,
                    left: item.pageX + 5,
                    padding: "2px",
                    backgroundColor: "#999",
                    color: "#fff",
                    fontWeight: "bold",
                    opacity: 0.80
                }).appendTo("body").fadeIn(200);
            }
        } else {
            $("#plot-tooltip").remove();
            previousPoint = null;
        }
    });
    {% endfor %}
});
