{% extends '::base.html.twig' %}

{% block pageTitle 'scheduler_form_page_title'|trans %}

{% block content %}
<div class="btn-group">
    <a href="{{ path('scheduler_list', {'accountId': account.accountId}) }}" class="btn"><i class="icon-chevron-left"></i> {{ 'back_link'|trans }}</a>
</div>

<form action="" novalidate="novalidate" method="post" class="form-horizontal" {{ form_enctype(schedulerForm) }}>
    {{ form_row(schedulerForm.type) }}
    {{ form_row(schedulerForm.thirdParty) }}
    {{ form_row(schedulerForm.amount) }}
    {{ form_row(schedulerForm.category) }}
    {{ form_row(schedulerForm.paymentMethod) }}
    {{ form_row(schedulerForm.transferAccount) }}
    {{ form_row(schedulerForm.valueDate) }}
    {{ form_row(schedulerForm.limitDate) }}

    {% spaceless %}
    <div class="control-group">
        {{ form_label(schedulerForm.frequencyValue, 'scheduler_frequency'|trans, {label_attr: {class: 'control-label'}}) }}

        <div class="controls">
            {{ form_errors(schedulerForm.frequencyValue) }}
            {{ form_widget(schedulerForm.frequencyValue) }}
            &nbsp;
            {{ form_errors(schedulerForm.frequencyUnit) }}
            {{ form_widget(schedulerForm.frequencyUnit) }}
        </div>
    </div>
    {% endspaceless %}

    {{ form_row(schedulerForm.notes) }}
    {{ form_row(schedulerForm.isReconciled) }}
    {{ form_row(schedulerForm.isActive) }}
    {{ form_rest(schedulerForm) }}

    <div class="control-group">
        <div class="controls">
            <input type="submit" class="btn btn-large btn-primary" value="{{ 'scheduler_form_submit_button'|trans }}"/>
        </div>
    </div>
</form>
{% endblock %}
