{% extends '::base.html.twig' %}

{% block pageTitle 'scheduler_list_page_title'|trans %}

{% block content %}
<a href="{{ path('account_list') }}" class="back">{{ 'back_link'|trans }}</a>
<a href="{{ path('scheduler_new', {'accountId': account.accountId}) }}" class="new">{{ 'scheduler_new_link'|trans }}</a>
<br/><br/>

{% if schedulers|length > 0 %}
<form method="post" action="">
    <table class="data">
        <tr>
            <th></th>
            <th>{{ 'scheduler_third_party'|trans }}</th>
            <th>{{ 'scheduler_category'|trans }}</th>
            <th>{{ 'scheduler_payment_method'|trans }}</th>
            <th>{{ 'scheduler_debit'|trans }}</th>
            <th>{{ 'scheduler_credit'|trans }}</th>
            <th>{{ 'scheduler_frequency_value'|trans }}</th>
            <th>{{ 'scheduler_frequency_unit'|trans }}</th>
            <th class="edit"></th>
        </tr>
        {% for scheduler in schedulers %}
        <tr>
            <td><input type="checkbox" name="schedulersId[]" value="{{ scheduler.schedulerId }}" /></td>
            <td>{{ scheduler.thirdParty }}</td>
            <td>{{ (scheduler.category is not null) ? scheduler.category.name : '' }}</td>
            <td>{{ ('payment_method_' ~ scheduler.paymentMethod.name)|trans }}</td>
            <td class="debit{{ (0 != scheduler.debit) ? ' negative' : '' }}">{{ (0 != scheduler.debit) ? scheduler.debit : '' }}</td>
            <td class="credit{{ (0 != scheduler.credit) ? ' positive' : '' }}">{{ (0 != scheduler.credit) ? scheduler.credit : '' }}</td>
            <td>{{ scheduler.frequencyValue }}</td>
            <td>{{ ('scheduler_frequency_unit_' ~ scheduler.frequencyUnit)|trans }}</td>
            <td class="edit"><a href="{{ path('scheduler_edit', {'schedulerId': scheduler.schedulerId}) }}">{{ 'scheduler_edit_link'|trans }}</a></td>
        </tr>
        {% endfor %}
    </table>

    <div class="list_actions">
        <input type="submit" name="delete" class="delete" value="{{ 'scheduler_delete_button'|trans }}" />

        <div class="pager">
        {{ pagerfanta(schedulers) }}
        </div>
    </div>
</form>
{% endif %}
{% endblock %}
