{% extends '::base.html.twig' %}

{% block pageTitle 'scheduler_list_page_title'|trans %}

{% block content %}
<a href="{{ path('account_list') }}" class="back">{% trans %}back_link{% endtrans %}</a><br/>
<a href="{{ path('scheduler_new', {'accountId': account.accountId}) }}" class="new">{% trans %}scheduler_new_link{% endtrans %}</a><br/>

{% if schedulers|length > 0 %}
<form method="post" action="">
    <table class="data">
        <tr>
            <th></th>
            <th>{% trans %}scheduler_third_party{% endtrans %}</th>
            <th>{% trans %}scheduler_category{% endtrans %}</th>
            <th>{% trans %}scheduler_payment_method{% endtrans %}</th>
            <th>{% trans %}scheduler_debit{% endtrans %}</th>
            <th>{% trans %}scheduler_credit{% endtrans %}</th>
            <th>{% trans %}scheduler_frequency_value{% endtrans %}</th>
            <th>{% trans %}scheduler_frequency_unit{% endtrans %}</th>
            <th class="edit"></th>
        </tr>
        {% for scheduler in schedulers %}
        <tr>
            <td><input type="checkbox" name="schedulersId[]" value="{{ scheduler.schedulerId }}" /></td>
            <td>{{ scheduler.thirdParty }}</td>
            <td>{{ (scheduler.category is not null) ? scheduler.category.name : '' }}</td>
            <td>{{ ('payment_method_' ~ scheduler.paymentMethod.name)|trans }}</td>
            <td class="debit{{ (0 != scheduler.debit) ? ' negative' : '' }}">{{ (0 != scheduler.debit) ? scheduler.debit : '' }}</td>
            <td class="credit{{ (0 != scheduler.credit) ? ' positive' : '' }}">{{ (0 != scheduler.credit) ? scheduler.credit : '' }}</td>
            <td>{{ scheduler.frequencyValue }}</td>
            <td>{{ ('scheduler_frequency_unit_' ~ scheduler.frequencyUnit)|trans }}</td>
            <td class="edit"><a href="{{ path('scheduler_edit', {'schedulerId': scheduler.schedulerId}) }}">{% trans %}scheduler_edit_link{% endtrans %}</a></td>
        </tr>
        {% endfor %}
    </table>

    <div class="list_actions">
        <input type="submit" name="delete" class="delete" value="{% trans %}scheduler_delete_button{% endtrans %}" />

        <div class="pager">
        {{ pagerfanta(schedulers) }}
        </div>
    </div>
</form>
{% endif %}
{% endblock %}
