{% extends 'KrevindiouBagheeraBundle::base.html.twig' %}

{% block page_title bankForm.vars.value.bankId is null ? 'bank.new_form_page_title'|trans : 'bank.edit_form_page_title'|trans %}

{% block breadcrumb %}
    <li class="active">{{ bankForm.vars.value.bankId is null ? 'bank.new_form_page_title'|trans : 'bank.edit_form_page_title'|trans }}</li>
{% endblock %}

{% block content %}
{{ form_start(bankForm, {attr: {novalidate: true, class: 'form-horizontal'}}) }}
    {% if bankForm.name %}
        {{ form_row(bankForm.name) }}
    {% endif %}
    {% if bankForm.provider %}
        {{ form_row(bankForm.provider) }}
    {% endif %}

    <div class="form-actions">
        {{ form_widget(bankForm.submit) }}
        <a href="{{ path('account_list') }}" class="btn">{{ 'cancel_link'|trans }}</a>
    </div>
{{ form_end(bankForm) }}
{% endblock %}

{% form_theme bankForm _self %}

{% block _bank_type_provider_widget %}
{% spaceless %}
    {{ block('choice_widget') }}
    {% if attr.bankId is not null and value != '' %}
        &nbsp;<a href="{{ path('bank_access_edit', {bankId: attr.bankId}) }}">{{ 'bank_access.update_login_password'|trans }}</a>
    {% endif %}
{% endspaceless %}
{% endblock %}
