{% extends '::base.html.twig' %}

{% block page_title 'bank_form_page_title'|trans %}

{% block content %}
<div class="btn-group">
    <a href="{{ path('account_list') }}" class="btn"><i class="icon-chevron-left"></i> {{ 'back_link'|trans }}</a>
</div>

<form action="" novalidate="novalidate" method="post" class="form-horizontal" {{ form_enctype(bankForm) }}>
    {{ form_widget(bankForm) }}

    <div class="control-group">
        <div class="controls">
            <input type="submit" class="btn btn-large btn-primary" value="{{ 'bank_form_submit_button'|trans }}"/>
        </div>
    </div>
</form>
{% endblock %}

{% form_theme bankForm _self %}

{% block _krevindiou_bagheerabundle_banktype_provider_widget %}
{% spaceless %}
    {{ block('choice_widget') }}
    {% if attr.bankId is not null and value != '' %}
        &nbsp;<a href="{{ path('bank_access_edit', {bankId: attr.bankId}) }}">{{ 'bank_access_update_login_password'|trans }}</a>
    {% endif %}
{% endspaceless %}
{% endblock %}
