{% if account is not null %}
<section id="account-box" class="container">
    <h2>{{ account.getBank().getName() }}</h2>
    <h3>{{ account.getName() }}</h3>

    <p>
    {{ 'balance'|trans }}: <strong class="{{ balance < 0 ? 'negative' : 'positive' }}"> {{ balance|abs|money(account.currency) }}</strong><br/>
    {{ 'reconciled_balance'|trans }}: <strong class="{{ reconciledBalance < 0 ? 'negative' : 'positive' }}">{{ reconciledBalance|abs|money(account.currency) }}</strong>
    </p>
</section>
{% endif %}
