{% if account is not null %}
<section id="account_box">
    <strong>{{ account.getBank().getName() }} - {{ account.getName() }}</strong><br/>

    {{ 'balance'|trans }} : <strong class="{{ balance < 0 ? 'negative' : 'positive' }}"> {{ balance|abs|money(account.currency) }}</strong><br/>
    {{ 'reconciled_balance'|trans }} : <strong class="{{ reconciledBalance < 0 ? 'negative' : 'positive' }}">{{ reconciledBalance|abs|money(account.currency) }}</strong>
</section>
{% endif %}
