{% extends '::base.html.twig' %}

{% block pageTitle 'account_form_page_title'|trans %}

{% block content %}
<a href="{{ path('account_list') }}" class="back">{{ 'back_link'|trans }}</a>

<form action="" novalidate="novalidate" method="post" {{ form_enctype(accountForm) }}>
    {{ form_widget(accountForm) }}

    <div class="form_button">
        <input type="submit" value="{{ 'account_form_submit_button'|trans }}"/>
    </div>
</form>
{% endblock %}
