{% extends '::base.html.twig' %}

{% block page_title 'account_form_page_title'|trans %}

{% block breadcrumb %}
    {% set account = accountForm.vars.value %}
    <li><span class="active">{{ account.bank.name }} {{ account.name != '' ? '- ' ~ account.name : '' }}</span></li>
{% endblock %}

{% block content %}
<form action="" novalidate="novalidate" method="post" class="form-horizontal" {{ form_enctype(accountForm) }}>
    {{ form_row(accountForm.bank) }}
    {{ form_row(accountForm.name) }}
    {{ form_row(accountForm.currency) }}

    {% if accountForm.initialBalance is defined %}
    {{ form_row(accountForm.initialBalance) }}
    {% endif %}

    {{ form_row(accountForm.overdraftFacility) }}
    {{ form_row(accountForm.iban) }}
    {{ form_row(accountForm.bic) }}
    {{ form_rest(accountForm) }}

    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="{{ 'account_form_submit_button'|trans }}"/>
        <a href="{{ path('account_list') }}" class="btn">{{ 'back_link'|trans }}</a>
    </div>
</form>
{% endblock %}
