{% extends '::base.html.twig' %}

{% block pageTitle 'account_form_page_title'|trans %}

{% block content %}
<div class="btn-group">
    <a href="{{ path('account_list') }}" class="btn"><i class="icon-chevron-left"></i> {{ 'back_link'|trans }}</a>
</div>

<form action="" novalidate="novalidate" method="post" class="form-horizontal" {{ form_enctype(accountForm) }}>
    {{ form_row(accountForm.bank) }}
    {{ form_row(accountForm.name) }}
    {{ form_row(accountForm.currency) }}
    {{ form_row(accountForm.initialBalance) }}
    {{ form_row(accountForm.overdraftFacility) }}
    {{ form_row(accountForm.iban) }}
    {{ form_row(accountForm.bic) }}
    {{ form_rest(accountForm) }}

    <div class="control-group">
        <div class="controls">
            <input type="submit" class="btn btn-large btn-primary" value="{{ 'account_form_submit_button'|trans }}"/>
        </div>
    </div>
</form>
{% endblock %}
