{% extends '::base.html.twig' %}

{% block pageTitle 'account_form_page_title'|trans %}

{% block content %}
<a href="{{ path('account_list') }}" class="back">{{ 'back_link'|trans }}</a>

<form action="" novalidate="novalidate" method="post" {{ form_enctype(accountForm) }}>
    {{ form_row(accountForm.bank) }}
    {{ form_row(accountForm.name) }}
    {{ form_row(accountForm.currency) }}
    {{ form_row(accountForm.initialBalance) }}
    {{ form_row(accountForm.overdraftFacility) }}
    {{ form_row(accountForm.iban) }}
    {{ form_row(accountForm.bic) }}

    {% set detailsFileParams = {} %}
    {% if account is defined and account.getAbsolutePath() is not null %}
        {% set detailsFileParams = {'filePath': path('account_details', {'accountId': account.accountId})} %}
    {% endif %}

    {{ form_row(accountForm.detailsFile, detailsFileParams) }}
    {{ form_rest(accountForm) }}

    <div class="form_button">
        <input type="submit" value="{{ 'account_form_submit_button'|trans }}"/>
    </div>
</form>
{% endblock %}
