{% extends '::base.html.twig' %}

{% block pageTitle 'account_list_page_title'|trans %}

{% block content %}
<a href="{{ path('bank_new') }}" class="new{{ tipNewBank ? ' tip' : '' }}"{% if tipNewBank %} title="{{ "tip_new_bank"|trans }}"{% endif %}>{{ 'bank_new_link'|trans }}</a>

{% if banks|length > 0 %}
    <form method="post" action="" id="form_account">
        <ul class="banks">
            {% for bank in banks %}
            <li>
                <table>
                    <tr>
                        <th class="checkbox"><input type="checkbox" name="banksId[]" value="{{ bank.bankId }}"/></th>
                        <th class="bank_name" colspan="2">{{ bank.name }}</th>
                        <th class="actions">
                            <a href="{{ path('bank_edit', {'bankId': bank.bankId}) }}"><img src="{{ asset('/bundles/krevindioubagheera/images/edit.png') }}" alt="{{ 'bank_edit_link'|trans }}" title="{{ 'bank_edit_link'|trans }}"/></a>
                            <a href="{{ path('account_new', {'bankId': bank.bankId}) }}" class="{{ tipNewAccount ? 'tip' : '' }}"{% if tipNewAccount %} title="{{ 'tip_new_account'|trans }}"{% endif %}><img src="{{ asset('/bundles/krevindioubagheera/images/plus_mini.png') }}" alt="{{ 'account_new_link'|trans }}" title="{{ 'account_new_link'|trans }}"/></a>
                            {% if bank.isManual() == false and progress|length == 0 %}
                                <a href="{{ path('bank_import', {'bankId': bank.bankId}) }}" class="import">
                                    <img src="{{ asset('/bundles/krevindioubagheera/images/load.png') }}" alt="{{ 'bank_import_link'|trans }}"{{ bank.getAccounts()|length == 0 ? ' class="tip"' : '' }}title="{{ bank.getAccounts()|length == 0 ? 'tip_import_account'|trans : 'bank_import_link'|trans }}"/>
                                </a>
                            {% endif %}
                        </th>
                    </tr>

                    {% if bank.getAccounts() is empty %}
                    <tr>
                        <td></td>
                        <td colspan="3"><em>{{ 'account_none'|trans }}</em></td>
                    </tr>
                    {% else %}
                    {% for account in bank.getAccounts() %}
                    <tr>
                        <td class="checkbox"><input type="checkbox" name="accountsId[]" value="{{ account.accountId }}"/></td>
                        <td class="account_name"><a href="{{ path('operation_list', {'accountId': account.accountId}) }}">{{ account.name }}</a></td>

                        {% set balance = accountService.getBalance(app.user, account) %}
                        <td class="balance {{ (balance < 0 ? 'negative' : 'positive') }}">{{ balance|abs|money(account.currency) }}</td>
                        <td class="actions">
                            <a href="{{ path('account_edit', {'accountId': account.accountId}) }}"><img src="{{ asset('/bundles/krevindioubagheera/images/edit.png') }}" alt="{{ 'account_edit_link'|trans }}" title="{{ 'account_edit_link'|trans }}"/></a>
                            <div class="progress-import-account" id="progress-import-account-{{ account.accountId }}"></div>
                        </td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </table>
            </li>
            {% endfor %}
        </ul>

        <div class="list_actions">
            <input type="submit" name="delete" class="delete" value="{{ 'account_delete_button'|trans }}"/>
            {#<input type="submit" name="share" value="{{ 'account_share_button'|trans }}"/>#}
        </div>

        <div id="total_balances">{{ 'total_balance'|trans }} :
            <ul>
                {% for currency, totalBalance in totalBalances %}
                <li><strong class="{{ (totalBalance < 0 ? 'negative' : 'positive') }}">{{ totalBalance|abs|money(currency) }}</strong></li>
                {% endfor %}
            </ul>
        </div>
    </form>

    <figure id="synthesis">
        <figcaption>{{ 'report_synthesis'|trans }}</figcaption>
        <div class="graph"></div>
    </figure>

    <div id="graphs">
    {% for report in reports %}
        <figure>
            <figcaption>{{ report.title }}</figcaption>
            <div id="graph{{ report.reportId }}" class="graph"></div>
        </figure>
    {% endfor %}
    </div>

    {% if progress|length > 0 %}
    <script type="text/javascript">
    head.ready(function() {
        (function importDataAccount() {
            var nextUpload = true;

            $.ajax({
                url: "import-progress",
                dataType: "json",
                success: function(data) {
                    nextUpload = false;

                    for (var accountId in data) {
                        nextUpload = true;

                        var total = data[accountId];

                        $("#progress-import-account-" + accountId).progressbar();

                        $("#progress-import-account-" + accountId + " .ui-progressbar-value")
                            .show()
                            .animate(
                                {
                                    width: parseInt(total / 100 * 60)
                                },
                                {
                                    duration: "slow",
                                    step: function(now, fx) {
                                        if (60 == now) {
                                            $(this).html("100%").css("background-image", "none");
                                        }
                                    }
                                }
                            );
                    }
                },
                complete: function() {
                    if (nextUpload) {
                        setTimeout(importDataAccount, 2000);
                    } else {
                        $(".progress-import-account").each(function() {
                            $(this).find(".ui-progressbar-value")
                                .show()
                                .animate(
                                    {
                                        width: 60
                                    },
                                    {
                                        duration: "slow",
                                        complete: function(now, fx) {
                                            $(this).html("100%").css("background-image", "none");
                                            window.location.reload();
                                        }
                                    }
                                );
                        });
                    }
                }
            });
        })();
    });
    </script>
    {% endif %}

    <script type="text/javascript">
    head.js(
        "{{ asset('/bundles/krevindioubagheera/js/jqplot/jquery.jqplot.min.js') }}",
        "{{ asset('/bundles/krevindioubagheera/js/jqplot/plugins/jqplot.highlighter.min.js') }}",
        "{{ asset('/bundles/krevindioubagheera/js/jqplot/plugins/jqplot.dateAxisRenderer.min.js') }}",
        "{{ asset('/bundles/krevindioubagheera/js/jqplot/plugins/jqplot.canvasTextRenderer.min.js') }}",
        "{{ asset('/bundles/krevindioubagheera/js/jqplot/plugins/jqplot.canvasAxisTickRenderer.min.js') }}",
        "{{ asset('/bundles/krevindioubagheera/js/jqplot/excanvas.min.js') }}",
        "{{ asset('/reports.js') }}",
        "{{ asset('/report_synthesis.js') }}"
    );
    </script>
{% endif %}
{% endblock %}
