{% extends '::base.html.twig' %}

{% block pageTitle 'account_list_page_title'|trans %}

{% block content %}
<div class="btn-group">
    <a href="{{ path('bank_new') }}" class="btn{{ tipNewBank ? ' tip' : '' }}"{% if tipNewBank %} title="{{ "tip_new_bank"|trans }}"{% endif %}><i class="icon-plus-sign"></i> {{ 'bank_new_link'|trans }}</a>
</div>
<br/>

{% if banks|length > 0 %}
    <div id="total-balances">
        <p>
            <strong>{{ 'total_balance'|trans }}</strong>
            <ul>
                {% for currency, totalBalance in totalBalances %}
                <li><strong class="{{ (totalBalance < 0 ? 'negative' : 'positive') }}">{{ totalBalance|abs|money(currency) }}</strong></li>
                {% endfor %}
            </ul>
        </p>
    </div>

    <form method="post" action="">
        <table class="table table-striped table-condensed">
            {% for bank in banks %}
            {% set accounts = accountService.getList(app.user, bank, false) %}
                <tr>
                    <th class="check"><input type="checkbox" name="banksId[]" value="{{ bank.bankId }}"/></th>
                    <th colspan="2">{{ bank.name }}</th>
                    <th>
                        <a href="{{ path('bank_edit', {'bankId': bank.bankId}) }}"><i class="icon-pencil"></i> {{ 'bank_edit_link'|trans }}</a>

                        {% if bank.isManual() == true %}
                        <a href="{{ path('account_new', {'bankId': bank.bankId}) }}" class="{{ tipNewAccount ? 'tip' : '' }}"{% if tipNewAccount %} title="{{ 'tip_new_account'|trans }}"{% endif %}><i class="icon-plus-sign"></i> {{ 'account_new_link'|trans }}</a>
                        {% endif %}

                        {% if bank.isManual() == false and progress|length == 0 %}
                            <a href="{{ path('bank_import', {'bankId': bank.bankId}) }}">
                                <span{{ accounts|length == 0 ? ' class="tip"' : '' }} title="{{ accounts|length == 0 ? 'tip_import_account'|trans : 'bank_import_link'|trans }}"><i class="icon-refresh"></i> {{ 'bank_import_link'|trans }}</span>
                            </a>
                        {% endif %}
                    </th>
                </tr>
                {% if accounts is empty %}
                <tr>
                    <td></td>
                    <td colspan="3"><em>{{ 'account_none'|trans }}</em></td>
                </tr>
                {% else %}
                {% for account in accounts %}
                <tr>
                    <td class="check"><input type="checkbox" name="accountsId[]" value="{{ account.accountId }}"/></td>
                    <td><a href="{{ path('operation_list', {'accountId': account.accountId}) }}">{{ account.name }}</a></td>

                    {% set balance = accountService.getBalance(app.user, account) %}
                    <td class="{{ (balance < 0 ? 'negative' : 'positive') }}">{{ balance|abs|money(account.currency) }}</td>
                    <td>
                        <a href="{{ path('account_edit', {'accountId': account.accountId}) }}"><i class="icon-pencil"></i> {{ 'account_edit_link'|trans }}</a>
                        <div class="progress-import-account" id="progress-import-account-{{ account.accountId }}"></div>
                    </td>
                </tr>
                {% endfor %}
                {% endif %}
            {% endfor %}
        </table>

        <div class="btn-group">
            <button type="submit" name="delete" class="btn" data-toggle="modal"><i class="icon-trash"></i> {{ 'account_delete_button'|trans }}</button>
            {#<button type="submit" name="share" class="btn" data-toggle="modal"><i class="icon-share-alt"></i> {{ 'account_share_button'|trans }}</button>#}
        </div>
    </form>

    <figure id="synthesis">
        <figcaption>{{ 'report_synthesis'|trans }}</figcaption>
        <div class="graph"></div>
    </figure>

    <div id="graphs">
    {% for report in reports %}
        <figure>
            <figcaption>{{ report.title }}</figcaption>
            <div id="graph{{ report.reportId }}" class="graph"></div>
        </figure>
    {% endfor %}
    </div>

    {% if progress|length > 0 %}
    <script type="text/javascript">
    $(document).ready(function() {
        (function importDataAccount() {
            var nextUpload = true;

            $.ajax({
                url: "import-progress",
                dataType: "json",
                success: function(data) {
                    nextUpload = false;

                    for (var accountId in data) {
                        nextUpload = true;

                        var total = data[accountId];

                        $("#progress-import-account-" + accountId).progressbar();

                        $("#progress-import-account-" + accountId + " .ui-progressbar-value")
                            .show()
                            .animate(
                                {
                                    width: parseInt(total / 100 * 60)
                                },
                                {
                                    duration: "slow",
                                    step: function(now, fx) {
                                        if (60 == now) {
                                            $(this).html("100%").css("background-image", "none");
                                        }
                                    }
                                }
                            );
                    }
                },
                complete: function() {
                    if (nextUpload) {
                        setTimeout(importDataAccount, 2000);
                    } else {
                        $(".progress-import-account").each(function() {
                            $(this).find(".ui-progressbar-value")
                                .show()
                                .animate(
                                    {
                                        width: 60
                                    },
                                    {
                                        duration: "slow",
                                        complete: function(now, fx) {
                                            $(this).html("100%").css("background-image", "none");
                                            window.location.reload();
                                        }
                                    }
                                );
                        });
                    }
                }
            });
        })();
    });
    </script>
    {% endif %}

    <script type="text/javascript">
    head.js(
        {% javascripts
            'bundles/krevindioubagheera/js/flot/jquery.flot.js'
            'bundles/krevindioubagheera/js/flot/jquery.flot.time.js'
        %}
        "{{ asset_url }}",
        {% endjavascripts %}
        "/reports.js",
        "/report_synthesis.js",
        function () {
        }
    );
    </script>
{% endif %}
{% endblock %}
