{% extends '::base.html.twig' %}

{% block page_title 'account_list_page_title'|trans %}

{% block buttons %}
    <div class="btn-group">
        <a href="{{ path('bank_new') }}" class="btn {{ tipNewBank ? ' tip' : '' }}"{% if tipNewBank %} title="{{ 'tip_new_bank'|trans }}"{% endif %}><i class="icon-plus-sign icon-white"></i> {{ 'bank_new_link'|trans }}</a>
    </div>
{% endblock %}

{% block content %}
    {% if banks|length > 0 %}
        <div class="row">
            <form method="post" action="" class="span7 accounts">
                {% for bank in banks %}
                    {% set accounts = accountService.getList(app.user, bank, false) %}
                    <div class="row bank">
                        <div class="span7">
                            <input type="checkbox" name="banksId[]" value="{{ bank.bankId }}"/>
                            <span class="bank-name">{{ bank.name }}</span>

                            <div class="btn-group pull-right">
                                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Action <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                     {% if bank.isManual() == true %}
                                        <li><a href="{{ path('account_new', {'bankId': bank.bankId}) }}" class="{{ tipNewAccount ? ' tip' : '' }}" title="{{ tipNewAccount ? 'tip_new_account'|trans : 'account_new_link'|trans }}"><i class="icon-plus-sign"></i> {{ tipNewAccount ? 'tip_new_account'|trans : 'account_new_link'|trans }}</a></li>
                                     {% endif %}
                                     {% if bank.isManual() == false and progress|length == 0 %}
                                        <li>
                                            <a href="{{ path('bank_import', {'bankId': bank.bankId}) }}">
                                                <span{{ accounts|length == 0 ? ' class="tip"' : '' }} title="{{ accounts|length == 0 ? 'tip_import_account'|trans : 'bank_import_link'|trans }}"><i class="icon-refresh"></i></span>
                                            </a>
                                        </li>
                                    {% endif %}
                                    <li>
                                        <a href="{{ path('bank_edit', {'bankId': bank.bankId}) }}">
                                            <i class="icon-pencil"></i> {{ 'bank_edit_link'|trans }}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% if accounts is empty %}
                        <div class="row">
                            <div class="span7">
                                <em>{{ 'account_none'|trans }}</em>
                            </div>
                        </div>
                    {% else %}
                        <ul class="unstyled">
                            {% for account in accounts %}
                                <li class="row">
                                    <div class="account">
                                        <div class="span4">
                                            <input type="checkbox" name="accountsId[]" value="{{ account.accountId }}"/>
                                            <a href="{{ path('operation_list', {'accountId': account.accountId}) }}">{{ account.name }}</a>
                                            <a href="{{ path('account_edit', {'accountId': account.accountId}) }}" class="edit-account hide" title="{{ 'account_edit_link'|trans }}"><i class="icon-pencil"></i></a>
                                        </div>
                                        <div class="span2">
                                            {% set balance = accountService.getBalance(app.user, account) %}
                                            <span class="{{ (balance < 0 ? 'negative' : 'positive') }}">{{ balance|abs|money(account.currency) }}</span>

                                            <div class="progress progress-striped active{% if progress|length == 0 %} hide{% endif %}" id="progress-account-{{ account.accountId }}">
                                                <div class="bar"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endfor %}

                <div class="btn-group form-actions hide">
                    <button type="submit" name="delete" class="btn pull-right" data-toggle="modal"><i class="icon-trash"></i> {{ 'account_delete_button'|trans }}</button>
                    {#<button type="submit" name="share" class="btn" data-toggle="modal"><i class="icon-share-alt"></i> {{ 'account_share_button'|trans }}</button>#}
                </div>
            </form>

            <div id="synthesis" class="span5">
                <div class="alert alert-info">
                    <h2><i class="icon-paper-clip"></i> {{ 'total_balance'|trans }}</h2>
                    <ul>
                        {% for currency, totalBalance in totalBalances %}
                            <li><strong class="{{ (totalBalance < 0 ? 'negative' : 'positive') }}">{{ totalBalance|abs|money(currency) }}</strong></li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="well">
                    <figure>
                        <figcaption>{{ 'report_synthesis'|trans }}</figcaption>
                        <div class="graph"></div>
                    </figure>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="graphs">
                {% for report in reports %}
                    <figure>
                        <figcaption>{{ report.title }}</figcaption>
                        <div id="graph{{ report.reportId }}" class="graph"></div>
                    </figure>
                {% endfor %}
            </div>

            <script type="text/javascript">
            head.js(
                {% javascripts
                    'bundles/krevindioubagheera/js/flot/jquery.flot.js'
                    'bundles/krevindioubagheera/js/flot/jquery.flot.time.js'
                    'bundles/krevindioubagheera/js/bootstrap/bootstrap-dropdown.js'
                %}
                "{{ asset_url }}",
                {% endjavascripts %}
                "/reports.js",
                "/report_synthesis.js",
                function () {
                }
            );
            </script>
        </div>
    {% endif %}
{% endblock %}
