{% extends 'form_div_layout.html.twig' %}

{% block field_row %}
{% spaceless %}
    <div>
        <div class="formLabel">
            {{ form_label(form, label|default(null)) }}
        </div>
        <div class="formField">
            {{ form_errors(form) }}

            {% set widgetParams = {} %}
            {% if filePath is defined %}
                {% set widgetParams = {'filePath': filePath} %}
            {% endif %}

            {{ form_widget(form, widgetParams) }}
        </div>
    </div>
{% endspaceless %}
{% endblock %}

{% block field_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
    <ul class="formErrors">
        {% for error in errors %}
            <li>{{ error.messageTemplate|trans(error.messageParameters, 'validators') }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endspaceless %}
{% endblock %}

{% block file_widget %}
{% spaceless %}
    {% set type = type|default('text') %}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    {% if filePath is defined %}
    &nbsp;<a href="{{ filePath }}">{% trans %}download{% endtrans %}</a>
    {% endif %}
{% endspaceless %}
{% endblock %}
