{% extends 'form_div_layout.html.twig' %}

{% block form_row %}
{% spaceless %}
    <div>
        <div class="form_label">
            {{ form_label(form, label|default(null)) }}
        </div>
        <div class="form_field">
            {{ form_errors(form) }}
            {{ form_widget(form) }}
        </div>
    </div>
{% endspaceless %}
{% endblock %}

{% block ewz_recaptcha_row %}
{% spaceless %}
    {{ block('form_row') }}
{% endspaceless %}
{% endblock %}

{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
    <ul class="form_errors">
        {% for error in errors %}
            <li>{{ error.messageTemplate|trans(error.messageParameters, 'validators') }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endspaceless %}
{% endblock %}

{% block file_widget %}
{% spaceless %}
    {% set type = type|default('text') %}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    {% if filePath is defined %}
    &nbsp;<a href="{{ filePath }}">{{ 'download'|trans }}</a>
    {% endif %}
{% endspaceless %}
{% endblock %}

{% block money_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': attr.class|default('') ~ ' money'}) %}
    {{ parent() }}
{% endspaceless %}
{% endblock %}
