{% extends 'form_div_layout.html.twig' %}

{% block form_row %}
{% spaceless %}
    <div class="control-group{{ errors|length ? ' error' : '' }}">
        {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' control-label')|trim}) %}

        {{ form_label(form, label|default(null), {label_attr: label_attr}) }}

        <div class="controls">
            {{ form_errors(form) }}
            {{ form_widget(form) }}
        </div>
    </div>
{% endspaceless %}
{% endblock %}

{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
    <div>
        {% for error in errors %}
            <p class="text-error">{{ error.messageTemplate|trans(error.messageParameters, 'validators') }}</p>
        {% endfor %}
    </div>
    {% endif %}
{% endspaceless %}
{% endblock %}

{% block choice_widget_expanded %}
{% spaceless %}
    {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' inline radio')|trim}) %}

    <div {{ block('widget_container_attributes') }}>
    {% for child in form %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ form_widget(child) }} {{ child.vars.label|trans({}, translation_domain) }}</label>
    {% endfor %}
    </div>
{% endspaceless %}
{% endblock %}

{% block ewz_recaptcha_row %}
    {{ block('form_row') }}
{% endblock %}

{% block date_widget %}
    {% set type = 'text' %}
    {{ parent() }}
{% endblock %}

{% block money_widget %}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' money')|trim}) %}
    {{ parent() }}
{% endblock %}
