{% extends 'AppBundle::base.html.twig' %}

{% block page_title 'member.change_password.page_title'|trans %}

{% block breadcrumb %}
    <li class="active">{{ 'member.change_password.page_title'|trans }}</li>
{% endblock %}

{% block content %}
{{ form_start(changePasswordForm, {action: path('member_change_password'), attr: {novalidate: true, class: 'form-horizontal'}}) }}
    {{ form_row(changePasswordForm.password) }}

    <div class="form-actions">
        {{ form_widget(changePasswordForm.submit) }}
    </div>
{{ form_end(changePasswordForm) }}
{% endblock %}
