{% extends 'KrevindiouBagheeraBundle::base.html.twig' %}

{% block page_title 'user.change_password.page_title'|trans %}

{% block breadcrumb %}
    <li class="active">{{ 'user.change_password.page_title'|trans }}</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="span3">
        {{ include("KrevindiouBagheeraBundle:User:profileMenu.html.twig") }}
    </div>
    <div class="span9">
        <form action="{{ path('user_change_password') }}" novalidate="novalidate" method="post" class="form-horizontal" {{ form_enctype(changePasswordForm) }}>
            {{ form_widget(changePasswordForm) }}

            <div class="form-actions">
                <input type="submit" class="btn btn-primary" value="{{ 'user.change_password.submit_button'|trans }}"/>
            </div>
        </form>
    </div>
</div>
{% endblock %}
