{% extends 'KrevindiouBagheeraBundle::base.html.twig' %}

{% block page_title 'user.change_password.page_title'|trans %}

{% block breadcrumb %}
    <li class="active">{{ 'user.change_password.page_title'|trans }}</li>
{% endblock %}

{% block content %}
<form action="{{ path('user_change_password_public', {'key': key}) }}" novalidate="novalidate" method="post" class="form-horizontal" {{ form_enctype(changePasswordForm) }}>
    {{ form_widget(changePasswordForm) }}

    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="{{ 'user.change_password.submit_button'|trans }}"/>
    </div>
</form>
{% endblock %}
