{% extends '::base.html.twig' %}

{% block page_title 'user_forgot_password_page_title'|trans %}

{% block breadcrumb %}
    <li><span class="active">{{ 'user_forgot_password_page_title'|trans }}</span></li>
{% endblock %}

{% block content %}
<form action="{{ path('user_forgot_password') }}" novalidate="novalidate" method="post" class="form-horizontal" {{ form_enctype(forgotPasswordForm) }}>
    {{ form_widget(forgotPasswordForm) }}

    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="{{ 'user_forgot_password_submit_button'|trans }}"/>
        <a href="{{ path('login') }}" class="btn">{{ 'back_link'|trans }}</a>
    </div>
</form>
{% endblock %}
