{% extends '::base.html.twig' %}

{% block pageTitle 'user_forgot_password_page_title'|trans %}

{% block content %}
<a href="{{ path('login') }}" class="back">{{ 'back_link'|trans }}</a>

<form action="{{ path('user_forgot_password') }}" novalidate="novalidate" method="post" {{ form_enctype(forgotPasswordForm) }}>
    {{ form_widget(forgotPasswordForm) }}

    <div class="form_button">
        <input type="submit" value="{{ 'user_forgot_password_submit_button'|trans }}"/>
    </div>
</form>
{% endblock %}
