<ul class="nav nav-tabs nav-stacked">
    <li{{ 'user_profile' == app.request.get('_route') ? ' class="active"' : '' }}>
        <a href="{{ path('user_profile') }}">
            <i class="icon-user"></i>
            {{ 'user.profile.page_title'|trans }}
            <i class="icon-chevron-right"></i>
        </a>
    </li>
    <li{{ 'user_change_password' == app.request.get('_route') ? ' class="active"' : '' }}>
        <a href="{{ path('user_change_password') }}">
            <i class="icon-lock"></i>
            {{ 'user.change_password.page_title'|trans }}
            <i class="icon-chevron-right"></i>
        </a>
    </li>
</ul>
