{% extends '::base.html.twig' %}

{% block page_title 'user_reset_password_page_title'|trans %}

{% block breadcrumb %}
    <li class="active">{{ 'user_reset_password_page_title'|trans }}</li>
{% endblock %}

{% block content %}
<form action="{{ path('user_reset_password', {'key': key}) }}" novalidate="novalidate" method="post" class="form-horizontal" {{ form_enctype(resetPasswordForm) }}>
    {{ form_widget(resetPasswordForm) }}

    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="{{ 'user_reset_password_submit_button'|trans }}"/>
    </div>
</form>
{% endblock %}
