{% extends 'KrevindiouBagheeraBundle::base.html.twig' %}

{% block page_title operation.operationId is null ? 'operation_new_form_page_title'|trans : 'operation_edit_form_page_title'|trans %}

{% block breadcrumb %}
    <li><a href="{{ path('operation_list', {'accountId': account.accountId}) }}">{{ account.bank.name }} - {{ account.name }}</a> <i class="icon-chevron-right"></i></li>
    <li class="active">{{ operation.operationId is null ? 'operation_new_form_page_title'|trans : 'operation_edit_form_page_title'|trans }}</li>
{% endblock %}

{% block content %}
<form action="" novalidate="novalidate" method="post" class="form-horizontal" {{ form_enctype(operationForm) }}>
    {{ form_row(operationForm.type) }}
    {{ form_row(operationForm.thirdParty) }}
    {{ form_row(operationForm.amount) }}
    {{ form_row(operationForm.category) }}
    {{ form_row(operationForm.paymentMethod) }}
    {{ form_row(operationForm.transferAccount) }}
    {{ form_row(operationForm.valueDate) }}
    {{ form_row(operationForm.notes) }}
    {{ form_row(operationForm.reconciled) }}
    {{ form_rest(operationForm) }}

    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="{{ 'operation_form_submit_button'|trans }}"/>
        <a href="{{ path('operation_list', {'accountId': account.accountId}) }}" class="btn">{{ 'cancel_link'|trans }}</a>
    </div>
</form>
{% endblock %}
