{% extends '::base.html.twig' %}

{% block pageTitle 'operation_form_page_title'|trans %}

{% block content %}
<div class="btn-group">
    <a href="{{ path('operation_list', {'accountId': account.accountId}) }}" class="btn"><i class="icon-chevron-left"></i> {{ 'back_link'|trans }}</a>
</div>

<form action="" novalidate="novalidate" method="post" class="form-horizontal" {{ form_enctype(operationForm) }}>
    {{ form_widget(operationForm) }}

    <div class="control-group">
        <div class="controls">
            <input type="submit" class="btn btn-large btn-primary" value="{{ 'operation_form_submit_button'|trans }}"/>
        </div>
    </div>
</form>
{% endblock %}
