{% extends '::base.html.twig' %}

{% block pageTitle 'operation_list_page_title'|trans %}

{% block content %}
<a href="{{ path('account_list') }}" class="back">{{ 'back_link'|trans }}</a>
<a href="{{ path('operation_new', {'accountId': account.accountId}) }}" class="new">{{ 'operation_new_link'|trans }}</a>
<a href="{{ path('operation_search_form', {'accountId': account.accountId}) }}" class="search">{{ 'operation_search_link'|trans }}</a>
<a href="{{ path('scheduler_list', {'accountId': account.accountId}) }}" class="schedulers">{{ 'scheduler_list'|trans }}</a>
<br/><br/>

{% if operations|length > 0 %}
<form id="operation" {% if displaySearch %}class="with_sidebar" {% endif %}method="post" action="">
    <table class="data">
        <tr>
            <th></th>
            <th></th>
            <th>{{ 'operation_third_party'|trans }}</th>
            <th>{{ 'operation_category'|trans }}</th>
            <th>{{ 'operation_payment_method'|trans }}</th>
            <th>{{ 'operation_type_debit'|trans }}</th>
            <th>{{ 'operation_type_credit'|trans }}</th>
            <th>{{ 'operation_value_date'|trans }}</th>
            <th class="edit"></th>
        </tr>
        {% for operation in operations %}
        <tr>
            <td><input type="checkbox" name="operationsId[]" value="{{ operation.operationId }}" /></td>
            <td>
                {{ (operation.isReconciled ? '<img src="' ~ asset('/bundles/krevindioubagheera/images/reconcile_mini.png') ~ '" alt="R"/>&nbsp;' : '')|raw }}
                {{ ((operation.scheduler is not null) ? '<img src="' ~ asset('/bundles/krevindioubagheera/images/clock_mini.png') ~ '" alt="S"/>' : '')|raw }}
            </td>
            <td>{{ operation.thirdParty }}</td>
            <td>{{ (operation.category is not null) ? operation.category.name : '' }}</td>
            <td>{{ ('payment_method_' ~ operation.paymentMethod.name)|trans }}</td>
            <td class="debit{{ (0 != operation.debit) ? ' negative' : '' }}">{{ (0 != operation.debit) ? operation.debit : '' }}</td>
            <td class="credit{{ (0 != operation.credit) ? ' positive' : '' }}">{{ (0 != operation.credit) ? operation.credit : '' }}</td>
            <td>{{ operation.valueDate|date('Y-m-d') }}</td>
            <td class="edit"><a href="{{ path('operation_edit', {'operationId': operation.operationId}) }}">{{ 'operation_edit_link'|trans }}</a></td>
        </tr>
        {% endfor %}
    </table>

    <div class="list_actions">
        <input type="submit" name="delete" class="delete" value="{{ 'operation_delete_button'|trans }}" />
        <input type="submit" name="reconcile" class="reconcile" value="{{ 'operation_reconcile_button'|trans }}" />

        <div class="pager">
        {{ pagerfanta(operations) }}
        </div>
    </div>
</form>

{% render "KrevindiouBagheeraBundle:OperationSearch:form" with {"account": account, "display": displaySearch} %}

{% endif %}
{% endblock %}
