$(document).ready(function(){
    if ($("#synthesis").length == 0) {
        return;
    }

    $.plot(
        $("#synthesis"),
        [
            {% for currency, values in points %}
            {
                label: "{{ currency }}",
                data: [
                    {% for timestamp, value in values %}
                        [{{ timestamp }} * 1000, {{ value is null ? "null" : "%.2f"|format(value / 10000)|raw }}]{% if loop.last != 1 %},{% endif %}

                    {% endfor %}
                ]
            }
            {% if loop.last != 1 %},{% endif %}
            {% endfor %}
        ],
        {
            colors: ['#94ba65', '#2790b0', '#777','#555','#999','#bbb','#ccc','#eee'],
            series: {
                lines: {
                    show: true,
                    fill: true,
                    lineWidth: 4,
                    fillColor: { colors: [{opacity: 0.4}, {opacity: 0}] }
                },
                points: {
                    show: true,
                    radius: 4,
                    fill: true
                }
            },
            legend: {
                backgroundColor: "#eee"
            },
            grid: {
                hoverable: true,
                backgroundColor: "#fff"
            },
            xaxis: {
                mode: "time",
                timeformat: "%Y-%m"
            },
            yaxis:  {
                min: {{ "%.2f"|format(yaxisMin / 10000)|raw }},
                max: {{ "%.2f"|format(yaxisMax / 10000)|raw }},
            }
        }
    );

    var previousPoint = null;
    $("#synthesis").on("plothover", function (event, pos, item) {
        if (item) {
            if (previousPoint != item.dataIndex) {
                previousPoint = item.dataIndex;

                $("#plot-tooltip").remove();

                var x = item.datapoint[0],
                    y = item.datapoint[1].toFixed(2);

                var d = new Date(x);

                $('<div id="plot-tooltip">' + y + " (" + d.getFullYear() + "-" + (d.getMonth() + 1) + ')</div>').css({
                    position: "absolute",
                    display: "none",
                    top: item.pageY - 30,
                    left: item.pageX + 5,
                    padding: "2px",
                    backgroundColor: "#666",
                    color: "#fff",
                    fontSize: "12px",
                    opacity: 0.80
                }).appendTo("body").fadeIn(200);
            }
        } else {
            $("#plot-tooltip").remove();
            previousPoint = null;
        }
    });
});
